<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div>
    <ion-card>
      <ion-card-header class="centr">
        <ion-card-title>Historial</ion-card-title>
        <ion-card-subtitle>Aca podras ver tu historial de registros</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="centr">
        <ion-list>
          
          <ion-item>
            <ion-label>Jueves 23/01 | 12:40</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>Viernes 24/01 | 10:30</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>Lunes 27/01 | 10:32</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-label>Martes 28/1 | 09:40</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
