<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil De Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let i of personajes">
      <ion-card [routerLink]="'/detalleapi/' + i.id">
        <img src="{{i.image}}" alt="">
        <ion-card-header>
          <ion-card-title>{{ i.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button (click)="cargarMasDatos()">Cargar más información</ion-button>
  <ion-button (click)="cargarAnteriorPagina()" id="btnAnterior">Anterior</ion-button>
  <ion-button (click)="cargarSiguientePagina()">Siguiente</ion-button>
</ion-content>

