<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil De Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="perfil-container">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Foto de perfil" class="perfil-imagen">
        <ion-label class="perfil-info">
          <p>Nombre: Alex Pavez</p>
          <p>ID del Alumno: 123123</p>
          <p>Carrera: Ingeniería Informática</p>
          <p>ID de Carrera: 789012</p>
        </ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>



