<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
    <ion-card >
      <ion-card-header class="centr">
        <ion-card-title>Detalle</ion-card-title>
        <ion-card-subtitle>Aca podras ver el detalle de tu registro</ion-card-subtitle>
      </ion-card-header>
      <app-detalle-comp nombre="Alex Pavez" rut="21.460.602-k" sede="DuocUC Puente Alto" fechahora="02-02-2023 | 09:40 AM"></app-detalle-comp>
    </ion-card>
  </div>

</ion-content>
