<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cuentas"></ion-back-button>
    </ion-buttons>
    <ion-title>agrear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input #nombre type="text" label="Nombre" labelPlacement="floating" placeholder="Ej: Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input #correo type="text" label="Correo" labelPlacement="floating" placeholder="Ej: Usuario@gmail.com"></ion-input>
      </ion-item>
      <ion-button color="warning" shape="round" (click)="addCuenta(nombre, correo)">Agregar Cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
