<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homedocente" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Secciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-accordion-group expand="inset">

          <!-- ARQUITECTURA -->
          <ion-accordion value="ARQUITECTURA">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">ARQUITECTURA</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 30-08-2023:<br style="border: 5px">
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span><br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 31-08-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-ausente">Ausente</span>
            </ion-label>
          </ion-accordion>

          <!-- PROGRAMACIÓN DE APLICACIONES MOVILES -->
          <ion-accordion value="PROGRAMACION DE APLICACIONES MOVILES">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">PROGRAMACIÓN DE APLICACIONES MÓVILES</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 29-08-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-ausente">Ausente</span><br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 01-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span>
            </ion-label>
          </ion-accordion>

          <!-- CALIDAD DE SOFTWARE -->
          <ion-accordion value="CALIDAD DE SOFTWARE">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">CALIDAD DE SOFTWARE</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 31-08-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span><br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 02-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span>
            </ion-label>
          </ion-accordion>

          <!-- PROGRAMACIÓN WEB -->
          <ion-accordion value="PROGRAMACION WEB">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">PROGRAMACIÓN WEB</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 05-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span><br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 07-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span>
            </ion-label>
          </ion-accordion>

          <!-- PROGRAMACIÓN DE BASE DE DATOS -->
          <ion-accordion value="PROGRAMACION DE BASE DE DATOS">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">PROGRAMACIÓN DE BASE DE DATOS</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 10-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-ausente">Ausente</span><br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 12-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span>
            </ion-label>
          </ion-accordion>

          <!-- PROGRAMACIÓN DE ALGORITMOS -->
          <ion-accordion value="PROGRAMACION DE ALGORITMOS">
            <ion-item slot="header" color="black">
              <ion-label class="header-label">PROGRAMACIÓN DE ALGORITMOS</ion-label>
            </ion-item>
            <ion-label slot="content" class="content-label">
              Clase 1 - 15-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span> <br>
            </ion-label>
            <ion-label slot="content" class="content-label">
              Clase 2 - 17-09-2023:<br>
              <span class="nombre-estudiante">Alex Oliva:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Muriel Miranda:</span> <span class="estado-presente">Presente</span> <br>
              <span class="nombre-estudiante">Alan Moreno:</span> <span class="estado-ausente">Ausente</span> <br>
              <span class="nombre-estudiante">Bryan Pinto:</span> <span class="estado-presente">Presente</span><br>
            </ion-label>
          </ion-accordion>

        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
