<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar class="search"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide">
  <div class="img">
    <img src="assets/img/qr.jpg"/>
      <ion-card-header class="centr">
        <ion-card-title>{{ aux.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ aux.correo }}</ion-card-subtitle>
      </ion-card-header>
        <div class="centr">
          <ion-accordion-group expand="inset">
            <ion-accordion value="first">
              <ion-item slot="header" color="rose">
                <ion-label>Sede Registro</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">DuocUC Puente Alto</div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="rose">
                <ion-label>Fecha/Hora Registro</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">12/02/2023 | 09:43 </div>
            </ion-accordion>
          </ion-accordion-group>
      </div>
      <ion-button class="margin" [routerLink]="['/detalle']" shape="round" color="warning">Detalle</ion-button> 
  </div>
</ion-content>

<ion-fab class="padd" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon (click)="login()" name="close-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon (click)="perfil()" name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
