

<ion-content>
  <div class="container">
    <ion-card class="card">
      <ion-card-header class="centr">
        <ion-card-title>Ingreso</ion-card-title>
      </ion-card-header>
      <ion-card-content class="cent">
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="Email" 
                errorText="Correo invalido"
                ngModel
                email>
              <div slot="label">Email<ion-text color="danger"> (Requerido)</ion-text> </div>
            </ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-button class="button" (click)="login()" color="warning" shape="round">Iniciar sesion</ion-button>

        <ion-button class="button" (click)="register()" color="dark" shape="round">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
