
<ion-content class="background">
  <div class="container">
    <ion-card>
        <ion-card-header class="centr">
          <ion-card-title>Registro</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="">
              <div slot="label">Nombre de usuario</div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="Email" errorText="Correo invalido" ngModel email>
              <div slot="label">Email <ion-text color="warning">(Requerido)</ion-text></div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" value="">
              <div slot="label">Repetir Contraseña</div>
            </ion-input>
          </ion-item>
        </ion-list>
    
      </ion-card-content>
      <ion-button class="button" color="warning" (click)=register() shape="round">Registrarse</ion-button>

      <br>

      <h6>¿ya tienes cuenta?</h6>
    
      <br>

      <ion-button class="button" (click)="login()" color="black" shape="round">Iniciar sesion</ion-button>

      <br>

    </ion-card>
  </div>
</ion-content>
