
<ion-content>
  <div class="container">
    <ion-card class="card">

      <ion-card-content>
        <form [formGroup]="formularioRegistro">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ingresar rut</ion-label>
            <ion-input formControlName="rut"></ion-input>
          </ion-item>
        </form>
        <ion-button class="button" color="warning" (click)=register() shape="round">Registrate</ion-button>
        <H6>¿Ya tienes cuenta?</H6>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <br>
      </ion-card-content>

    </ion-card> 
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar slot="start">
    <ion-button class="button" [routerLink]="['/login']" color="dark" shape="round">Regresa al login</ion-button>
  </ion-toolbar>
</ion-footer>
