ion-card{
    position: relative;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    overflow-x: hidden;
}

button{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px -12px #ffffff;
}
