ion-card-content{
    text-align: justify;
}

.search{
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

ion-content {
    // ocultar scroll lateral
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  ion-content{
    @media (prefers-color-scheme: light){
        background-color: white;
        color: black;
  }
}

