<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide">
  <div class="img">
    <img src="assets/img/qr.jpg" />
    <ion-list>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>{{ alumno.nombre }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ alumno.correo }}</ion-text>
      </ion-item>
    </ion-list>
    <ion-button class="margin" [routerLink]="['/detalle']" shape="round" color="warning">Detalle</ion-button>
  </div>
</ion-content>

<ion-fab class="padd" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon (click)="login()" name="close-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon (click)="perfil()" name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

