<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>

<ion-footer>
  <ion-toolbar slot="end">
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-toolbar>
</ion-footer>

