ion-card{
    border-radius: 11px;
    box-shadow: 0px 0px 12px #4b4b4b;
}

ion-datetime-button{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.header-label {
    font-size: 12px;
    font-weight: bold;
  }

.content-label {
    font-size: 14px;
  }