<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{ alumno.id }}</ion-card-subtitle>
      <ion-card-title>Nombre: {{ alumno.nombre }} {{ alumno.apellido }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Correo: {{ alumno.correo }}</strong> <br>
      <strong>Carrera: {{ alumno.carrera }}</strong><br>
      <strong>contrasena: {{ alumno.contrasena }}</strong>
    </ion-card-content>

    <ion-button [routerLink]="['/update',alumno.id]" color="warning"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button [routerLink]="['/eliminar',alumno.id]" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
  </ion-card>
</ion-content>
