.background{
    --background: url(https://static.vecteezy.com/system/resources/previews/002/222/065/non_2x/abstract-city-map-with-pins-navigation-app-screen-template-vector.jpg) 0 0/150% 100% no-repeat;
    
}

div{
    width:100%;
    height: 100%;
    margin: auto;
    display: flex;

    justify-content: center;
    overflow: hidden;
}

.card{
    border-radius: 30px;
}