<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubicacion</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="background">
  <div class="container">
    <ion-card class="card">
      <ion-card-content>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>ARQUITECTURA</ion-label>
              </ion-item>
              <ion-label slot="content" class="content-label">
                        Clase 1 - 30-08-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>
                        Clase 2 - 6-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"NO" estaba en sede duoc Puente Alto</span><br>
                        Clase 3 - 12-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>

                      </ion-label>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>PROGRAMACION MOVIL</ion-label>
              </ion-item>
            <ion-label slot="content" class="content-label">
                        Clase 1 - 30-08-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>
                        Clase 2 - 6-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"NO" estaba en sede duoc Puente Alto</span><br>
                        Clase 3 - 12-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>
                        </ion-label>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label>INGLES</ion-label>
              </ion-item>
              <ion-label slot="content" class="content-label">
                        Clase 1 - 30-08-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>
                        Clase 2 - 6-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"NO" estaba en sede duoc Puente Alto</span><br>
                        Clase 3 - 12-09-2023:<br style="border: 5px">
                        <span class="nombre-estudiante">"SI" estaba en sede duoc Puente Alto</span><br>
                        </ion-label>
            </ion-accordion>
            <ion-button class="button" shape="round" color="warning" [routerLink]="['/mapa']">ubicacion </ion-button>
          </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

